body {
  position: relative;
  font-size: 100%; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.row {
  margin-right: 0;
  margin-left: 0; }


/* Navigation Bar */
#self_navbar {
  z-index: 100;
  position: fixed;
  display: inline-block; }
.navbar {
  background-color: #FFF }
.nav a {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 1.7em;
  margin-top: .27em; }
.navbar-default .navbar-nav>li>a {
  color: #000; }
.nav_name {
  margin-left: 10%;
  font-size: 20px; }  
.rightlinks {
  float: right; }
#contactbtn {
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  background: #005b96;
  padding: 9px 16px 9px 16px;
  text-decoration: none; 
  margin: .7em;
  border: 0; }
#contactbtn:hover {
  background: #6497b1; }
@media (max-width: 992px) {
  .nav_name {
    margin-left: 8%;
    font-size: 18px; } 
}  
@media only screen and (max-width: 768px) {
  #self_navbar {
    display: none; }  
  #self_mobile { 
    z-index: 100;
    position: fixed;
    display: block; }
}


/* Header Hero Video */
.hero_video video {
  max-width: 100%;
  height: auto;
  opacity: .9; }
.hero_video .intro_section {
  top: 3%;
  left: 0;
  padding: 3em;
  position: absolute;
  margin-right: 0;
  margin-left: 0; }
.hero_video h1 {
  color: #FFF;
  font-size: 1200%;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 0; }
.hero_video h2 {
  color: #FFF;
  font-size: 300%;
  text-align: center; }      
.hero_video p {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 3% 18% 3% 18%; }
p #introcontactbtn {
  margin-top: 0;
  text-transform: none; }  
#introcontactbtn {
  border-radius: 57px;
  font-family: 'Raleway'; sans-serif;
  color: #ffffff;
  font-size: 19px;
  background: #005b96;
  padding: 9px 16px 9px 16px;
  text-decoration: none; 
  margin: .5em;
  border: 0; }
#introcontactbtn:hover {
  background: #6497b1; }
@media only screen and (max-width: 768px) {
  .video_bg {
    display: none; }
  .hero_video {
    background: url("../images/header_bg.gif") no-repeat center center;
    background-size: cover;
    max-width: 100%;
    height: 38em; 
    opacity: .9; }
  .hero_video h1 {
    font-size: 800%; } 
  .hero_video h2 {
    display: none; }  
  .hero_video p {
    font-size: 120%;
    margin: 6% 8% 7% 8%; }
  #introcontactbtn {
    border-radius: 7px;
    font-size: 11px;
    padding: 11px; 
    margin: .2em; }
}


/* Skills Section */
#skills {
  background: linear-gradient(to bottom right, #03396c, #6497b1);
  margin-top: 1em; }
#skills h6 {
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 210%;
  font-family: 'Raleway', sans-serif;
  color: #FFF; }
#skills_directions_two {
  display: none;  }   
.skill_item {
  width: 90px; 
  height: 110px; 
  display: inline-block; }
.skill_icons {
  text-align: center; } 
.experience_info {
  position: absolute; 
   top: 30%; 
   left: 0;
   width: 100%; }  
#skills_subset h3 {
  font-size: 160%;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  text-align: center; 
  margin-bottom: 0; }
#skills_subset p {
  text-align: center; 
  margin-top: 2%; } 
@media (max-width: 992px) {
  #skills_directions_one {
    display: none; }
  #skills_directions_two {
    display: block; }  
}  
@media only screen and (max-width: 768px) {
  #skills_directions_one {
    display: none; }
  #skills_directions_two {
    display: block; }
  #skills h6 {
  font-size: 150%; }   
}

/* Portfolio Section */
#portfolio {
  margin-top: 1em; }
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px; }
.carousel-caption h3 {
  color: #FFF; 
  font-size: 450%; }
.carousel-caption p {
  color: #FFF; 
  font-family: 'Raleway', sans-serif;
  font-size: 155%;  
  margin-bottom: 5%; }
.carousel-control.right, .carousel-control.left {
  background-image: none;
  text-decoration: none; }
@media only screen and (max-width: 768px) {
.carousel {
  height: 300px; }
.carousel-inner > .item > img {
  height: 300px; }
.carousel-caption h3 {
  font-size: 250%; }
.carousel-caption p {
  font-size: 100%; }
#portfolio_button {
  border-radius: 7px;
    font-size: 5px;
    padding: 3px; 
    margin: .2em; } 
}


  /* About Section */
#about {
  background: linear-gradient(to bottom, #03396c, #6497b1);
  height: auto;
  margin-top: 1em;
  max-width: 100%; }
.panel-group {
  margin-top: 6%; }   
.panel {
  border: 0px;
  background-color: #FFF;
  margin-left: 15%;
  margin-right: 15%; } 
.panel-default > .panel-heading {
  background-color: #FFF;
  margin-bottom: 3%; } 
.panel-title {
  font-size: 1.6em;
  color: #000 }  
.panel-body {
  padding-left: 8%;
  padding-right: 11%;
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em; }  
.panel-default > .panel-heading a:link {
  text-decoration: none; }
.panel-default > .panel-heading a:visited {
  text-decoration: none; }
.panel-default > .panel-heading a:hover {
  text-decoration: none; }
.panel-default > .panel-heading a:active {
  text-decoration: none; }
@media only screen and (max-width: 768px) {
#about {
  height: auto; }
.panel-title {
  font-size: 1.3em; }
.panel-body {
  font-size: 1.2em; }
}


/* Contact Section */
#contact {
  background: url("../images/contact_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: auto; 
  margin-top: 1em; }
#contact_height {
  margin-bottom: 5em; }
#contact h2 {
  position: relative;
  text-align: center; 
  font-size: 900%;
  color: #FFF;
  margin-top: 1em;
  margin-bottom: 12% }
#contact h3 {
  text-align: center;
  color: #FFF;
  margin-top: 1em; }
#contact h5 {
  color: #FFF;
  margin-top: 0; }   
#contact p {
  color: #FFF; }
.media_link { 
  display: inline-block; 
  margin-right: 2%; 
  margin-left: 2%; }
.media_list {
  text-align: center; }    
.modal-button {
  text-align: center;
  margin-top: 3.5em; }
.modal-body {
  height: 400px; }
.modal-dialog {
  width: 850px; }
#myresumemodal {
  width: 100%;
  height: 380px;
  padding: 1em; }
@media only screen and (max-width: 768px) {
#contact {
  background-size: cover;
  background-attachment: scroll;
  max-width: 100%;
  height: auto; 
  margin-top: 1em; }
#contact h2 {
  font-size: 600%;
  margin-top: .5em;
  margin-bottom: 6% }  
}

/* Footer Section */
#footer_info {
  background-color: #74747C;
  max-width: 100%;
  height: auto; }
#footer_info h6 {
  text-align: center;
  font-size: 280%; 
  margin-top: 3%;
  margin-bottom: 0em; }
#footer_info p, footer {
  text-align: center;
  font-size: 100%;
  margin-bottom: .8em; }
#made_with p {
  text-align: right;
  margin: 0; }
footer {
  margin-bottom: -3%; }
@media only screen and (max-width: 768px) {
#footer_info h6 {
  text-align: center;
  font-size: 280%; 
  margin-top: 3%;
  margin-bottom: 0em; }
#footer_info p, footer {
  text-align: center;
  font-size: 100%; }
#made_with p {
  text-align: right;
  margin: 0; }
footer {
  margin-bottom: -5%; }
}

